# vim: set syntax=yaml:

version: '3.6'

services:
  ipr:
    image: opertusmundi/ipr:${VERSION}
    build:
      context: .
      dockerfile: debian.dockerfile
      args:
        VERSION: "${VERSION}"
    volumes:
    - type: bind
      source: ./logs
      target: /var/local/ipr_service/logs
    - type: bind
      source: ./secrets
      target: /secrets
      read_only: true
    - type: bind
      source: ./output
      target: /var/local/ipr_service/output
    - type: bind
      source: ./input
      target: /var/local/ipr_service/input
    - type: bind
      source: ./temp
      target: /var/local/ipr_service/temp
    ports:
    - '5000:5000'
    environment:
      LOGGING_ROOT_LEVEL: 'INFO'
      WORKING_DIR:
      DB_ENGINE: postgresql
      DB_HOST:
      DB_PORT: ${DB_PORT:-5432}
      DB_USER:
      DB_NAME:
    networks:
    - 'opertusmundi_network'

networks:
  opertusmundi_network:
    external: true
